@import 'constants.css';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.squares {
  display:grid;
  grid-template-columns: repeat(var(--col-count), var(--square-size));
  width: calc(var(--col-count)*var(--square-size));
  height: var(--square-size);

}
.square {
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  background: #fff;
  border: 0px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  height: var(--square-size);
  width: var(--square-size);
}

.square--light {
  background: var(--light-square);
}
.square--dark {
  background: var(--dark-square);
}

.board-row {
  display:grid;
}

.board-row:after {
  display:grid;
}

.status {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.game {
  display: block;
  flex-direction: row;
}

.game {
  display:block;
  flex-direction: row;
}

.sub-board {
  display:grid;
  border: 4px solid #000;
  grid-template-columns: repeat(3,var(--square-size));
  grid-template-rows: repeat(3,var(--square-size));
}

.grid-game-board {
  display:grid;
  grid-template-columns: repeat(3, calc(3*var(--square-size)));
  grid-template-rows: repeat(3, calc(3*var(--square-size)));
  gap: 4px;
}

.game-info {
  margin-left: 10px;
}
